/Assets/* @TeamDsYkX/everything-tycoon
/Automation/* @TeamDsYkX/everything-tycoon
/Game/* @TeamDsYkX/everything-tycoon
/Templates/* @TeamDsYkX/everything-tycoon
*.rbxl @TeamDsYkX/everything-tycoon
/.github/* @TeamDsYkX/code-owners